[submodule ".registry"]
	path = .registry
	url = https://github.com/albersonmiranda/albersonmiranda.r-universe.dev
	branch = HEAD
[submodule "fio"]
	path = fio
	url = https://github.com/albersonmiranda/fio
	branch = main
[submodule "fiorefactor"]
	path = fiorefactor
	url = https://github.com/albersonmiranda/fiorefactor
	branch = main
